<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        AGA TEAM
                    </a>
                </li>
                <li>
                    <a href="https://www.agasolutions.com.mx/">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="#">
                        Social
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Desarrollado por
            <a href="https://www.agasolutions.com.mx/" target="_blank">AGA Solutions</a> 
        </div>
    </div>
</footer>
