<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
  <div class="container-fluid">
      <div class="navbar-wrapper">
             <i class="material-icons">person</i> 
        <a class="navbar-brand" href="#">Ganadero</a>
      </div>
      <button mat-raised-button class="navbar-toggler" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
      </button>
  </div>
  </nav>

<div class="main-content">  
  <div class="container-fluid">
          <button class="btn btn-danger btn-round float-right" data-toggle="modal" data-target="#exampleModal">
              <i class="material-icons">add_circle</i> Nuevo Ganadero
             </button>
             <br>
             <br>
             <br>
             <!-- Modal -->
             <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                 <div class="modal-content">
                   <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">Registrar Nuevo Ganadero</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                     </button>
                   </div>
                   <div class="modal-body">
                      <form  #formGanadero="ngForm" (ngSubmit)="saveGanadero(formGanadero)">
                          <div type="text" name="id" [(ngModel)]="this.ganaderosService.selectGanadero.id"></div>
                          <div class="form-group">
                             
                            <input type="text" class="form-control" id="exampleInputNombre"  placeholder="Nombre (s)" name="nombre" [(ngModel)]="this.ganaderosService.selectGanadero.nombre">
                          </div>
                          <div class="row">
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Ap Paterno" name="app_paterno" [(ngModel)]="this.ganaderosService.selectGanadero.app_paterno">
                              </div>
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Ap Materno" name="app_materno" [(ngModel)]="this.ganaderosService.selectGanadero.app_materno">
                              </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputCorreo" placeholder="Correo" name="correo" [(ngModel)]="this.ganaderosService.selectGanadero.correo">
                              </div>

                              <div class="row">
                                  <div class="col ml-auto my-2 ">
                                    <p class="text-right"><span class="text-muted">Años de Actividad:</span></p>
                                    </div>
                                    <div class="col">
                                  <label class="my-1" for="inlineFormCustomSelectPref">
                                  <select class="custom-select mr-sm-2 " id="inlineFormCustomSelect" name="anio_act" [(ngModel)]="this.ganaderosService.selectGanadero.anio_act">
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                    </select>
                                    </label>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                    <button  type="button" type="submit"  class="btn btn-danger btn-round" >
                                        <i class="material-icons">done</i> Guardar y Enviar
                                      </button>
                                 </div>
                        </form>
                   </div>
                   
                 </div>
               </div>
             </div>
      <!--<a class="nav-link text-right font-weight-bold btn-link" ><u>Nuevo Ganadero</u></a>-->
      <div class="row">
          <div class="card mb-3 sm-6 mr-3" style="max-width: 340px;" *ngFor="let ganadero of ganaderos">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="./assets/img/faces/marc.jpg" class="card-img" alt="...">
                </div>
                
                <div class="col-md-8">
                  <div class="card-body" >
                      <button type="button" class="ml-auto close" (click)="onDeleteGanaderos(ganadero.id)">
                          <i class="material-icons ">delete</i>
                          </button>
                          <button type="button" class="ml-auto close" data-toggle="modal" data-target="#exampleModal" (click)="onPreUpdateGanaderos(ganadero)">
                            <i class="material-icons ">edit</i>
                            </button>
                         <br>
                    <h5 class="card-title">{{ganadero.nombre}} {{ganadero.app_paterno}}</h5>
                    <p class="card-text">Rancho {{ganadero.rancho_nombre}}</p>
                  </div>
                </div>
              </div>
            </div>

              
      </div>
  </div>
</div>

