<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
               <i class="material-icons">event</i> 
          <a class="navbar-brand" href="#">Administración</a>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
    </div>
    </nav>

<!--<div id="map"></div>-->


<div class="main-content">  
    <div class="container-fluid">
<button class="btn btn-danger btn-round float-right ml-2" data-toggle="modal" data-target="#exampleModal">
    <i class="material-icons">add_circle</i> Registrar compra
   </button>

   <button class="btn btn-danger btn-round float-right" data-toggle="modal" data-target="#exampleModal2">
      <i class="material-icons">add_circle</i> Registrar Nacimiento
     </button>
   <br>
   <br>
   <br>
   <!-- Modal -->
   <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLabel">Ingresar Animales Comprados</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col-md-4 my-5">
                      <img src="./assets/img/icons8_Sheep_96px.png" style="max-width: 150px;">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="RFID">
                      <input type="number" class="form-control" placeholder="Arete">
                      <input type="number" class="form-control" placeholder="Peso Actual">
                      <input type="number" class="form-control" placeholder="Peso al nacer">
                     <div> 
                       <label>Fecha de Nacimiento</label>
                      <input type="date" class="form-control" placeholder="Fecha de nacimiento"></div>
                     <div>
                       <label>Fecha de Alta</label>
                      <input type="date" class="form-control" placeholder="Fecha de Alta">  </div>                    
                      <div class="row">
                    <div class="col-md-3 my-3">
                            <p>Raza:</p>
                            <p>Estado:</p>
                            <p>Corral:</p>
                            <p>Genero:</p>
                        </div>
                        <div class="col">
                        <select class="custom-select mr-sm-2 mb-1" id="inlineFormCustomSelect">
                            <option value="1">Dorper</option>
                            <option value="2">*</option>
                            <option value="3">*</option>
                          </select>
                          <select class="custom-select mr-sm-2 mb-1" id="">
                              <option value="1">Destete</option>
                              <option value="2">Engorda</option>
                              <option value="3">?</option>
                            </select>
                            <select class="custom-select mr-sm-2 mb-1" id="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                              </select>
                              <div class="form-check form-check-radio form-check-inline">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked> Hembra
                                    <span class="circle">
                                        <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                                <div class="form-check form-check-radio form-check-inline">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Macho
                                    <span class="circle">
                                        <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                        </div>
                </div>
                
                </div>
                  </div>
              </form>
         </div>
         <div class="modal-footer">
            <button type="button"  class="btn btn-danger btn-round">
                <i class="material-icons">
                    arrow_forward_ios</i> Siguiente
              </button>
         </div>
       </div>
     </div>
   </div>

   <!--Modal2-->
   <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ingresar Nacimiento de Animal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             <form>
                 <div class="row">
                     <div class="col-md-4 my-5">
                       <img src="./assets/img/icons8_Sheep_96px.png" style="max-width: 150px;">
                     </div>
                     <div class="col">
                       <input type="text" class="form-control" placeholder="RFID">
                       <input type="number" class="form-control" placeholder="Arete">
                       <input type="number" class="form-control" placeholder="Peso Actual">
                       <input type="number" class="form-control" placeholder="Peso al nacer">
                       <div>
                          <label>Fecha de Nacimiento</label>
                          <input type="date" class="form-control" placeholder="Fecha de nacimiento">
                       </div>
                       <input type="text" class="form-control" placeholder="Madre">
                       <input type="text" class="form-control" placeholder="Padre">                      
                       <div class="row">
                     <div class="col-md-3 my-3">
                             <p>Raza:</p>
                             <p>Estado:</p>
                             <p>Corral:</p>
                             <p>Genero:</p>
                         </div>
                         <div class="col">
                         <select class="custom-select mr-sm-2 mb-1" id="inlineFormCustomSelect">
                             <option value="1">Dorper</option>
                             <option value="2">*</option>
                             <option value="3">*</option>
                           </select>
                           <select class="custom-select mr-sm-2 mb-1" id="">
                               <option value="1">Destete</option>
                               <option value="2">Engorda</option>
                               <option value="3">?</option>
                             </select>
                             <select class="custom-select mr-sm-2 mb-1" id="">
                                 <option value="1">1</option>
                                 <option value="2">2</option>
                                 <option value="3">3</option>
                               </select>
                               <div class="form-check form-check-radio form-check-inline">
                                   <label class="form-check-label">
                                     <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked> Hembra
                                     <span class="circle">
                                         <span class="check"></span>
                                     </span>
                                   </label>
                                 </div>
                                 <div class="form-check form-check-radio form-check-inline">
                                   <label class="form-check-label">
                                     <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Macho
                                     <span class="circle">
                                         <span class="check"></span>
                                     </span>
                                   </label>
                                 </div>
                         </div>
                 </div>
                 
                 </div>
                   </div>
               </form>
          </div>
          <div class="modal-footer">
             <button type="button"  class="btn btn-danger btn-round">
                 <i class="material-icons">
                     arrow_forward_ios</i> Siguiente
               </button>
          </div>
        </div>
      </div>
    </div>

  <div class="card mb-3 sm-6 mr-3" style="max-width: 348px;">
    <div class="row no-gutters">
      <div class="col-md-4 my-3">
        <img src="./assets/img/icons8_Sheep_96px.png" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <button type="button" class="ml-auto close">
            <i class="material-icons ">delete</i>
            </button>
            <button type="button" class="ml-auto close">
              <i class="material-icons">edit</i>
              </button>
               <br>
          <h5 class="card-title">Arete: 1234</h5>
          <h5 class="card-text">Macho</h5>
          <h5 class="card-text">Destete</h5>
        </div>
      </div>
    </div>
  </div>
