<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
               <i class="material-icons">person</i> 
          <a class="navbar-brand" href="#">Ganado</a>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
    </div>
    </nav>

<!--<div id="map"></div>-->


<div class="main-content">  
    <div class="container-fluid">
<button class="btn btn-danger btn-round float-right ml-2" data-toggle="modal" data-target="#exampleModal">
    <i class="material-icons">add_circle</i> Registrar compra
   </button>

   <button class="btn btn-danger btn-round float-right" data-toggle="modal" data-target="#exampleModal2">
      <i class="material-icons">add_circle</i> Registrar Nacimiento
     </button>
   <br>
   <br>
   <br>
   <!-- Modal -->
   <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLabel">Ingresar Animales Comprados</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
            <form #formBorrega2="ngForm" (ngSubmit)="saveBorrega(formBorrega2)">
                <div class="row">
                    <div type="text" name="id" [(ngModel)]="this.borregasService.selectBorrega.id"></div>
                    <div class="col-md-4 my-5">
                      <img src="./assets/img/icons8_Sheep_96px.png" style="max-width: 150px;">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="RFID"  name="rfid" [(ngModel)]="this.borregasService.selectBorrega.rfid">
                      <input type="number" class="form-control" placeholder="Arete"  name="arete" [(ngModel)]="this.borregasService.selectBorrega.arete">
                      <input type="number" class="form-control" placeholder="Peso Actual"  name="peso_actual" [(ngModel)]="this.borregasService.selectBorrega.peso_actual">
                      <input type="number" class="form-control" placeholder="Peso al nacer"  name="peso_nacer" [(ngModel)]="this.borregasService.selectBorrega.peso_nacer">
                     <div> 
                       <label>Fecha de Nacimiento</label>
                      <input type="date" class="form-control" placeholder="Fecha de nacimiento"  name="fecha_nac" [(ngModel)]="this.borregasService.selectBorrega.fecha_nac"></div>
                     <div>
                       <label>Fecha de Alta</label>
                      <input type="date" class="form-control" placeholder="Fecha de Alta"  name="fecha_entrada" [(ngModel)]="this.borregasService.selectBorrega.fecha_entrada">  </div>                    
                      <div class="row">
                    <div class="col-md-3 my-3">
                            <p>Raza:</p>
                            <p>Estado:</p>
                            <p>Corral:</p>
                            <p>Genero:</p>
                        </div>
                        <div class="col">
                        <select class="custom-select mr-sm-2 mb-1" id="inlineFormCustomSelect" name="raza" [(ngModel)]="this.borregasService.selectBorrega.raza">
                            <option value="Dorper">Dorper</option>
                            <option value="*">*</option>
                            <option value="*">*</option>
                          </select>
                          <select class="custom-select mr-sm-2 mb-1" id="" name="estado" [(ngModel)]="this.borregasService.selectBorrega.estado">
                              <option value="Destete">Destete</option>
                              <option value="Engorda">Engorda</option>
                              <option value="?">?</option>
                            </select>
                            <select class="custom-select mr-sm-2 mb-1" id="" name="corral" [(ngModel)]="this.borregasService.selectBorrega.corral">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                              </select>
                              <div class="form-check form-check-radio form-check-inline">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Hembra"
                                    name="genero" [(ngModel)]="this.borregasService.selectBorrega.genero" checked> Hembra
                                    <span class="circle">
                                        <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                                <div class="form-check form-check-radio form-check-inline">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Macho"
                                    name="genero" [(ngModel)]="this.borregasService.selectBorrega.genero"> Macho
                                    <span class="circle">
                                        <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                        </div>
                </div>
                
                </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button"  type="submit" class="btn btn-danger btn-round">
                          <i class="material-icons">
                              arrow_forward_ios</i> Siguiente
                        </button>
                   </div>
              </form>
         </div>
        
       </div>
     </div>
   </div>

   <!--Modal2-->
   <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{!this.borregasService.selectBorrega.id ? 'Registrar Nacimiento de Animal' : 'Actualizar datos'}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             <form #formBorrega="ngForm" (ngSubmit)="saveBorrega(formBorrega)">
                 <div class="row">
                    <div type="text" name="id" [(ngModel)]="this.borregasService.selectBorrega.id"></div>
                     <div class="col-md-4 my-5">
                       <img src="./assets/img/icons8_Sheep_96px.png" style="max-width: 150px;">
                     </div>
                     <div class="col">
                       <input type="text" class="form-control" placeholder="RFID" name="rfid" [(ngModel)]="this.borregasService.selectBorrega.rfid">
                       <input type="number" class="form-control" placeholder="Arete" name="arete" [(ngModel)]="this.borregasService.selectBorrega.arete">
                       <input type="number" class="form-control" placeholder="Peso Actual" name="peso_actual" [(ngModel)]="this.borregasService.selectBorrega.peso_actual">
                       <input type="number" class="form-control" placeholder="Peso al nacer" name="peso_nacer" [(ngModel)]="this.borregasService.selectBorrega.peso_nacer">
                       <div>
                          <label>Fecha de Nacimiento</label>
                          <input type="date" class="form-control" placeholder="Fecha de nacimiento" name="fecha_nac" [(ngModel)]="this.borregasService.selectBorrega.fecha_nac">
                       </div>
                       <input type="text" class="form-control" placeholder="Madre" name="madre" [(ngModel)]="this.borregasService.selectBorrega.madre">
                       <input type="text" class="form-control" placeholder="Padre" name="padre" [(ngModel)]="this.borregasService.selectBorrega.padre">                      
                       <div class="row">
                     <div class="col-md-3 my-3">
                             <p>Raza:</p>
                             <p>Estado:</p>
                             <p>Corral:</p>
                             <p>Genero:</p>
                         </div>
                         <div class="col">
                         <select class="custom-select mr-sm-2 mb-1" id="inlineFormCustomSelect" name="raza" [(ngModel)]="this.borregasService.selectBorrega.raza">
                             <option value="Dorper">Dorper</option>
                             <option value="*">*</option>
                             <option value="*">*</option>
                           </select>
                           <select class="custom-select mr-sm-2 mb-1" id="" name="estado" [(ngModel)]="this.borregasService.selectBorrega.estado">
                               <option value="Destete">Destete</option>
                               <option value="Engorda">Engorda</option>
                               <option value="*">?</option>
                             </select>
                             <select class="custom-select mr-sm-2 mb-1" id="" name="corral" [(ngModel)]="this.borregasService.selectBorrega.corral">
                                 <option *ngFor="let corral of corrales">#{{corral.numero}}</option>
                                 
                               </select>
                               <div class="form-check form-check-radio form-check-inline">
                                   <label class="form-check-label">
                                     <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Hembra" 
                                      name="genero" [(ngModel)]="this.borregasService.selectBorrega.genero" checked> Hembra
                                     <span class="circle">
                                         <span class="check"></span>
                                     </span>
                                   </label>
                                 </div>
                                 <div class="form-check form-check-radio form-check-inline">
                                   <label class="form-check-label">
                                     <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Macho"
                                      name="genero" [(ngModel)]="this.borregasService.selectBorrega.genero"> Macho
                                     <span class="circle">
                                         <span class="check"></span>
                                     </span>
                                   </label>
                                 </div>
                         </div>
                 </div>
                 
                 </div>
                   </div>
                   <div class="modal-footer">
                      <button type="button"  type="submit" class="btn btn-danger btn-round">
                          <i class="material-icons">
                              arrow_forward_ios</i> Siguiente
                        </button>
                   </div>
               </form>
          </div>
         
        </div>
      </div>
    </div>

    <div class="row">
  <div class="card mb-3 sm-6 mr-3" style="max-width: 348px;" *ngFor="let borrega of borregas">
    <div class="row no-gutters">
      <div class="col-md-4 my-3">
        <img src="./assets/img/icons8_Sheep_96px.png" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <button type="button" class="ml-auto close" (click)="onDeleteBorrega(borrega.id)">
            <i class="material-icons" >delete</i>
            </button>
            <button type="button" class="ml-auto close" data-toggle="modal" data-target="#exampleModal2" 
            (click)="onPreUpdateBorrega(borrega)">
              <i class="material-icons">edit</i>
              </button>
               <br>
          <h5 class="card-title">Arete: {{borrega.arete}}</h5>
          <h5 class="card-text">{{borrega.genero}}</h5>
          <h5 class="card-text">{{borrega.peso_actual}} Kg</h5>
        </div>
      </div>
    </div>
  </div>
</div>
