<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
         <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>AGA</title>
</head>
<body >
 <div class="main-content mt-4 pt-5 ">
     <div class="container-fluid">
        <div class="row" >
        <div class="col-md-4 col-sm-4 col-xs-12 " ></div>
        <div class="col-md-4 col-sm-4 col-xs-12 card card-stats">
<form class=" text-center mt-3 mb-5">
        <div> 
            <img src="../../assets/img/tim_80x80.png " width="30%">
        </div> <br> 
    <h3> Iniciar Sesión</h3>
    <div class="from-group"> <br>
        <input type="email" class="from-control btn-block" id="exampleInputEmaill" placeholder="Correo Electrónico"><br>
    </div>
    <div class="from-group">
            <input type="password" class="from-control btn-block" id="exampleInputEmaill" placeholder="Contraseña"><br>
        </div>
        <a  href="#"  class="btn btn-danger btn-sm btn-block">Ingresar</a>

    <div class="checkbox text-center">
        <label>
            <input type="checkbox">Mantener sesión Iniciada
        </label>
    </div>
    <a href="../../app/restauracion/restauracion.component.html"><u>¿Olvidaste la contraseña?</u></a><br>
    <p>¿No tienes una cuanta? <a href=""><u> !Contactanos!</u></a></p>

</form>
</div>
</div>
        </div>
    </div>
</body>
</html>