<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
               <i class="material-icons">list_alt</i> 
          <a class="navbar-brand" href="#">Registrar</a>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
    </div>
    </nav>

<div class="main-content">
        <div class="card card-nav-tabs">
                <div class="card-header card-header-danger">
                    <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#peso" data-toggle="tab">Registrar Peso</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#revision" data-toggle="tab">Registrar Revisión</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#ventas" data-toggle="tab">Registrar Ventas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#desesos" data-toggle="tab">Registrar Desesos</a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                </div><div class="card-body ">
                    <div class="tab-content text-center">
                        <div class="tab-pane active" id="peso">
                            <div>
                                <button class="btn btn-danger btn-round float-right">
                                        <i class="material-icons">done</i> Terminar
                                       </button>
                                       <br>
                                    </div>
                            <div class="row">
                                <div class="card mb-5 sm-6 mr-5 ml-auto" style="max-width: 348px;">
                                    <div class="ml-2">
                                      <div class="col-md-11">
                                            <input type="text" class="form-control" placeholder="Arete">
                                            <input type="text" class="form-control" placeholder="Peso">
                                      </div>  
                                      <button class="btn btn-danger btn-round ml-auto">
                                            <i class="material-icons">done</i> Comentar
                                           </button>
                                           <button class="btn btn-danger btn-round mr-auto">
                                                <i class="material-icons">done</i>Registrar
                                               </button>
                                    </div>
                                  </div>
        
                                  <div class="card mb-5 sm-6 mr-auto" style="max-width: 348px;">
                                    <div class="row no-gutters">
                                      <div class="col-md-5">
                                        <div class="card-body">
                                            <h4>Animales:</h4>
                                            <h4>Peso Total:</h4>
                                        </div>
                                      </div>  
                                      <div class="col-md-15">
                                        <div class="card-body">
                                           <h4>54</h4>
                                           <h4>125 Kg</h4>
                                        </div>
                                      </div>  
                                    </div>
                                  </div>
        
                                  <div class="card-body col-md-12">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class=" text-danger">
                                                <th>
                                                    Arete
                                                </th>
                                                <th>
                                                    Peso
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        1234
                                                    </td>
                                                    <td>
                                                        56 Kg
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        2712
                                                    </td>
                                                    <td>
                                                        128 Kg
                                                    </td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
        </div>              
        
                        </div>
                        <div class="tab-pane" id="revision">
                           
                        </div>
                        <div class="tab-pane" id="ventas">
                           
                        </div>
                        <div class="tab-pane active" id="desesos">
                            
                        </div>
                    </div>
</div>


