<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>AGA</title>
</head>
<body >
 <div class="main-content mt-5 pt-5 ">
     <div class="container-fluid">
        <div class="row" >
        <div class="col-md-4 col-sm-4 col-xs-12 " ></div>
        <div class="col-md-4 col-sm-4 col-xs-12 card card-stats">
<form class=" text-center mt-4 mb-5">
        <div> 
            <img src="../../assets/img/tim_80x80.png " width="30%">
        </div>
    <h3>¿Olvidaste tu usuario?</h3>
    <p>¿Tu puedes Recuperar tu nombre de usuario aquí?</p>
    <div class="from-gropu text-center">
        <input type="email" class="from-control btn-block" id="exampleInputEmaill" placeholder="Correo Electrónico"><br>
    </div>
    <button type="button" class="btn btn-danger btn-md btn-block" data-toggle="modal" data-target="#exampleModal">
            Restaurar
          </button>
        <a  href="../login/login.component.html"   class="btn btn-danger btn-md btn-block">Cancelar</a>
<div class="text-right">
    <a href=""><u>¿Se te olvido tu contraseña?</u></a><br>
  </div>
</form>
</div>
</div>
        </div>
    </div>
</body>
</html>
