<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
  <div class="container-fluid">
      <div class="navbar-wrapper">
             <i class="material-icons">person</i> 
        <a class="navbar-brand" href="#">Ganadero</a>
      </div>
      <button mat-raised-button class="navbar-toggler" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
      </button>
  </div>
  </nav>

<div class="main-content">  
  <div class="container-fluid">
          <button class="btn btn-danger btn-round float-right" data-toggle="modal" data-target="#exampleModal">
              <i class="material-icons">add_circle</i> Nuevo Ganadero
             </button>
             <br>
             <br>
             <br>
             <!-- Modal -->
             <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                 <div class="modal-content">
                   <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">Registrar Nuevo Ganadero</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                     </button>
                   </div>
                   <div class="modal-body">
                      <form>
                          <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputNombre" aria-describedby="emailHelp" placeholder="Nombre (s)">
                          </div>
                          <div class="row">
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Ap Paterno">
                              </div>
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Ap Materno">
                              </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputCorreo" placeholder="Correo">
                              </div>
                              <label class="my-1 mr-2" for="inlineFormCustomSelectPref">
                              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                  <option selected>Años de Actividad</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="3">4</option>
                                  <option value="3">5</option>
                                </select>
                                </label>
                        </form>
                   </div>
                   <div class="modal-footer">
                      <button type="button"  class="btn btn-danger btn-round">
                          <i class="material-icons">done</i> Guardar y Enviar
                        </button>
                   </div>
                 </div>
               </div>
             </div>
      <!--<a class="nav-link text-right font-weight-bold btn-link" ><u>Nuevo Ganadero</u></a>-->
      <div class="row">
          <div class="card mb-3 sm-6 mr-3" style="max-width: 348px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="./assets/img/faces/marc.jpg" class="card-img" alt="...">
                </div>
                
                <div class="col-md-8">
                  <div class="card-body">
                      <button type="button" class="ml-auto close">
                          <i class="material-icons ">delete</i>
                          </button>
                          <button type="button" class="ml-auto close">
                            <i class="material-icons ">edit</i>
                            </button>
                         <br>
                    <h5 class="card-title">Pedro Pony</h5>
                    <p class="card-text">Rancho 3 estrellas</p>
                  </div>
                </div>
              </div>
            </div>

              <div class="card mb-3 sm-6 mr-3" style="max-width: 348px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="./assets/img/faces/marc.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <button type="button" class="ml-auto close">
                          <i class="material-icons ">delete</i>
                          </button>
                          <button type="button" class="ml-auto close">
                            <i class="material-icons ">edit</i>
                            </button>
                             <br>
                        <h5 class="card-title">Pedro Pony</h5>
                        <p class="card-text">Rancho 3 estrellas</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card mb-3 sm-6" style="max-width: 348px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="./assets/img/faces/marc.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <button type="button" class="ml-auto close">
                          <i class="material-icons ">delete</i>
                          </button>
                          <button type="button" class="ml-auto close">
                            <i class="material-icons ">edit</i>
                            </button>
                             <br>
                        <h5 class="card-title">Pedro Pony</h5>
                        <p class="card-text">Rancho 3 estrellas</p>
                      </div>
                    </div>
                  </div>
                </div>





                
          <!--<div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Company (disabled)" disabled>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email address" type="email">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Fist Name" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Last Name" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Adress" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="City" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Country" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Postal Code" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <label>About Me</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                 </mat-form-field>
                              </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>-->
          <!--<div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="#pablo">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div>-->
      </div>
  </div>
</div>

